/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-indigo: #2c3e50;
}

[data-theme="light"] {
  --vt-c: #ffffff;
  --vt-c-soft: #f8f8f8;
  --vt-c-mute: #f2f2f2;

  --vt-c-divider-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-2: rgba(60, 60, 60, 0.12);

  --vt-c-text-1: var(--vt-c-indigo);
  --vt-c-text-2: var(--vt-c-indigo);
}

[data-theme="dark"] {
  --vt-c: #181818;
  --vt-c-soft: #222222;
  --vt-c-mute: #282828;

  --vt-c-divider-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-1: var(--vt-c-white);
  --vt-c-text-2: rgba(235, 235, 235, 0.64);
}

:root {
  --color-background: var(--vt-c);
  --color-background-soft: var(--vt-c-soft);
  --color-background-mute: var(--vt-c-mute);

  --color-border: var(--vt-c-divider-2);
  --color-border-hover: var(--vt-c-divider-1);

  --color-heading: var(--vt-c-text-1);
  --color-text: var(--vt-c-text-2);

  --section-gap: 160px;
}

section {
  background-color: var(--color-border);
  flex-grow: 1;
  max-width: 600px;
  min-width: 370px;
  padding: 1em;
  border-radius: 20px;
}

button {
  border: 1px solid var(--vt-c-soft);
  background: var(--vt-c-mute);
  color: var(--color-text);
  font-family: lexend;
}

button.active {
  background: #42b883;
  border-color: #42b883;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 1.2s,
    background-color 0.2s;
  line-height: 1.6;
  font-family: Lexend;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
