#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  gap: 0.5em;
}

section {
  background-color: var(--color-border);
  flex-grow: 1;
  max-width: 600px;
  min-width: 320px;
  padding: 1em;
  border-radius: 20px;
}

label {
  max-width: 100%;
  margin-bottom: 0.5rem;
  font-weight: bold;
  overflow-wrap: break-word;
}

input,
textarea,
select {
  background-color: var(--color-background-chill);
  color: var(--color-text);
  width: 100%;
  font-family: lexend;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

textarea {
  min-height: 100px;
  resize: vertical;
  flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

textarea:focus,
input:focus,
select:focus {
  border-color: var(--color-button-border);
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-heading);
  opacity: 0.5;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  cursor: default;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  cursor: default;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--color-scrollbar);
}

textarea::-webkit-resizer {
  background-color: var(--color-background-chill);
}

.validation-errors {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--color-button-border);
}

.radio-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}

.radio-button {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  margin: calc(0.75em - 11px) 0.25rem 0 0;
  border: 2px solid var(--color-background-chill);
  border-radius: 50%;
  background: var(--color-background-chill) no-repeat center center;
  margin-right: 5px;
  vertical-align: middle;
}

.radio-button:where(:active, :hover) {
  border-color: var(--color-button-border);
  outline: none;
}

.radio-button:checked {
  background-color: var(--color-button-border);
}

.radio-label {
  cursor: default;
  vertical-align: middle;
}

.checkbox-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.checkbox-option-container {
  width: 100%;
  display: flex;
}

.checkbox-input-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.checkbox-box {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid var(--color-background-chill);
  margin: auto 5px;
  vertical-align: middle;
}

.checkbox-box:where(:active, :hover) {
  border-color: var(--color-button-border);
  outline: none;
}

.checkbox-box:checked {
  background-color: var(--color-button-border);
}

.checkbox-label {
  cursor: default;
  margin: auto 0;
}

.toolbox-view {
  flex-grow: 1;
  /* gap: 0.8em; */
}

.toolbox-element {
  background-color: var(--vt-c-mute);
  width: 100%;
  display: flex;
}

.toolbox-element-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.4em;
  padding: 18px;
}

.toolbox-side-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 12px;
}

.toolbox-input {
  width: 100%;
  /* margin: 0 1em; */
}

.toolbox-element-title {
  font-weight: 200;
}

.toolbox-label {
  font-weight: 500;
}

.toolbox-sections {
  display: flex;
  flex-direction: column;
  /* gap: 0.6em; */
}

.toolbox-questions {
  display: flex;
  flex-direction: column;
  /* gap: 0.3em; */
}

.collapsed {
  display: none;
}

.new-section,
.new-question {
  background-color: var(--vt-c-chill);
  height: 8px;
  margin: 0.4em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: height 0.2s;
}

.new-question {
  background-color: var(--color-border);
}

.new-element-text {
  display: none;
}

.new-section:hover,
.new-question:hover {
  cursor: pointer;
  height: 16px;
  overflow: hidden;
  transition: height 0.2s;
}

.new-section:hover .new-element-text,
.new-question:hover .new-element-text {
  cursor: pointer;
  display: block;
  font-size: 12px;
}

.question-settings {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.question-setting {
  display: flex;
  gap: 1em;
}
